<div class="content-coluna">
  <main class="row">
    <header class="titulo">
      <h2>Resumo Profissional</h2>
      <button mat-stroked-button mat-dialog-close>Fechar</button>
    </header>
    <div class="content">
      <div class="box">
        <h4>2023- Atualmente</h4>
        <h3>Auxiliar Administrativo</h3>
        <p>
          Auxiliar de demandas administrativas e Analista de operações, focando
          na prevenção de não conformidades contratuais. No âmbito dessas
          funções, desenvolvi automações em Python para simplificar tarefas,
          incluindo o registro de ocorrências, reclamações e chamados no Jira.
          Utilizo esses dados para criar dashboards no PowerBI, proporcionando
          análises e embasamento para tomada de decisões. Além disso, desenvolvi
          um sistema em PHP para facilitar as fiscalizações realizadas pelos
          auditores nos Postos de Atendimento da SPTrans, gerando ao final um
          documento gerencial consolidando os resultados das inspeções. Todos os
          projetos desenvolvidos estão disponíveis em meu GitHub.
        </p>
      </div>
      <div class="box">
        <h4>2023-2023</h4>
        <h3>Agente de Custódia</h3>
        <p>
          Principal responsabilidade em abastecer os Postos da SPTrans com
          bilhetes e insumos, além de atualizar as planilhas de controle de
          estoque e realizar baixas nos sistemas correspondentes.
        </p>
      </div>
      <div class="box">
        <h4>2021-2022</h4>
        <h3>Triagem - Jovem Aprendiz</h3>
        <p>
          Dando informações do bilhete único aos clientes da SPTrans, também
          auxiliando e organizando as filas dos postos de atendimento.
        </p>
      </div>
    </div>
  </main>
</div>
