@import '../../../../../../assets/colors/colors.scss';

.content-coluna{
  width: 90%;
  padding: 20px;
  height: 85vh;
}

.content{
  padding: 0 30px;
  border-left: solid 2px $dialog-border;
  .box{
    width: 90%;
    position: relative;
    padding: 10px;
    border: solid 1px $dialog-border;
    border-radius: 5px;
    cursor: pointer;
    transition:all 0.4s;
    margin-bottom: 15px;
    &::before{
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      right: calc(100% + 22px);
      top: 0;
      background-color: $blue-contents;
      border: solid 2px #fff;
    }
    &:hover{
      box-shadow: 1px 1px 10px gray;
    }
    h4{
      font-size: 16px;
      font-weight: bold;
      color: $blue-contents-ligth;
    }
    h3{
      font-size: 18px;
      color: #fff;
    }
    p{
      opacity: 0.8;
      color: #fff;
    }
  }
}
.titulo{
  display: flex;
  h2{
    font-size: 25px;
    color: #ffffff ;
  }
  button{
   position: absolute;
   right: 10px;
   padding: 10px 25px;
   color: #fff;
   border: none;
   border-radius: 25px;
   cursor: pointer;
   background-color: rgb(197, 4, 4);
   &:hover{
    background-color: rgb(167, 3, 3) ;
   }
  }
}



