<div class="content-coluna">
  <main class="row">
    <header class="titulo">
      <h2>Resumo Profissional</h2>
    </header>
    <div class="content">
      <div class="box">
        <h4>2021-2022</h4>
        <h3>Triagem</h3>
        <p>
          Atuava como triagem nos terminais SPTrans, dando informações aos
          clientes sobre o bilhete unico
        </p>
      </div>
      <div class="box">
        <h4>2023-2023</h4>
        <h3>Custodia</h3>
        <p>Abastecer os postos de atendimento SPTrans; Controle de estoque</p>
      </div>
      <div class="box">
        <h4>2023- Atualmente</h4>
        <h3>Auxiliar Administrativo</h3>
        <p>
          Atendimento de chats; Ligações; Auxiliar de demandas administrativas.
          Analista de operações e prevenções as não conformidades do contrato
        </p>
      </div>
    </div>
  </main>
</div>
