.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  gap: 5%;
}

.view-resume img{
  width: 100%;
  opacity: 0.3;
  filter: blur(1.2px);
  transition: 1.2s;
}
.card-content {
  width: 30%;
  position: relative;
  cursor: pointer;
}

.image-project {
  position: relative;
}

.icons-labels-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35%;
  left: 0;
  right: 0;

  transition: 1s;
}
.flip-card{
  transition: 1s;
}
.icon-container {
  text-align: center;
  margin: 0 5px;
}

.icon-container i {
  width: 50px; /* Ajuste conforme necessário */
  height: 50px; /* Ajuste conforme necessário */
  font-size: 24px; /* Ajuste conforme necessário */
}

.icon-container label {
  display: block;
  font-size: 14px;
  color: #ffffff;
}
//---------------HOVER--------------------
.view-resume:hover img{
  opacity: 1;
  filter: none;
  scale: 1.4;
}

.view-resume:hover .icons-labels-container{
  opacity: (0);
}

