<div class="projects-content">
  <h1>Pojetos</h1>
  <div class="card-projects">
    @for (item of arrayProjects(); track item;) {
    <div class="card-content">
      <div class="img-project">
        <img src="{{ item.preview.image }}" />
        <legend>{{item.preview.title}}</legend>
        <span>{{item.preview.technologiesIcon.icons}}</span>
      </div>
      <div class="flip-card">
        <p>{{item.preview.resume}}</p>
        <a>{{item.preview.linkDploy}}</a>
        <a>{{item.preview.linkRepositorio}}</a>
      </div>
    </div>
    }
  </div>
</div>
