<div class="corpo">
  <div class="slide-container">
    <div class="slide-content">
      <div class="card-wrapper">
        @for (item of arrayProjects(); track $index) {
        <div class="card">
          <div class="image-content">
            <span class="overlay"></span>
            <div class="card-image">
              <img src="{{ item.preview.image }}" class="card-img" />
            </div>
          </div>
          <div class="card-content">
            <h2 class="card-title">{{ item.preview.title }}</h2>
            <ng-container class="info-card"
              *ngFor="
                let icon of item.preview.technologiesIcon.icons;
                let Icon = index
              "
            >
              <i [class]="icon" [id]="icon"></i>
              <label for="{{icon}}">{{item.preview.technologiesIcon.iname[Icon]}}</label>
            </ng-container>
            <p class="resume">{{item.preview.resume}}</p>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
