.resume{
    font-family: 'Poppins', sans-serif;
}
.resume h1{
    color: #fff;
    font-family: 'Open Sans', sans-serif ;
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 35px;
    transform: scaleY(1.5);
}
.resume h2{
    color: #043E8B;
    font-size: 45px;
    transform: scaleY(1.2);


}
.resume p{
    margin-top: 20px;
    color: #ffffff79;
    font-size: 14px;
}
.resume .area{
    color: #ffffff;
    font-size: 20px;
    top: 0;
    letter-spacing: 16px;
}

.actions ul{
    display: flex;
    list-style: none;
}
.actions li{
    margin-top: 4%;
    margin-right: 2%;
}
.actions a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 100px;
    font-family: 'Poppins', sans-serif;
    border: solid 3px #043E8B
}
.actions .cv{
    background-color: #043E8B;
}

.actions .cv:hover{
    background-color: transparent;
}
.actions .linkedin:hover{
    background-color: #043E8B;
}


.me{
    position: absolute;
    top: 0;
    right: 1rem;
    margin-left: 60%
}
.me img{
    border-radius: 50%;
    max-width: 60%;
    opacity: 0.2;
    scale: 1.6;
    transition: 1.5s;
    margin-left: 100px;
}

.me img:hover{
    opacity: 1;
    scale: 1.8;
}

