<div class="resume">
  <div class="content-resume">
    <h1>Guilherme</h1>
    <h2>Pompeu Mascarenhas</h2>
    <p class="area">Full-Stack Developer</p>
    <p>
      Apaixonado pela curiosidade, gosto de saber como cada coisa funciona.<br />
      Um dos motivos para que eu me interessasse por tecnologia.
    </p>
    <div class="actions">
      <ul>
        <li>
          <a class="cv" href="assets/pdf/GuilhermeCv.pdf" target="_blank"
            >Download CV</a
          >
        </li>
        <li>
          <a
            class="linkedin"
            href="https://www.linkedin.com/in/guilherme-pompeu-mascarenhas-03770523a"
            target="_blank"
            >LinkedIn</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="me">
    <img alt="Guilherme - Foto do Perfil" src="assets/img/eu.jpg" loading="" />
  </div>
</div>
