$color-background: rgb(12, 12, 12);
$color-dialog:rgb(37, 37, 37);
$dialog-border: rgb(202, 202, 202);

$blue-contents: #043E8B;
$blue-contents-hover:#043472;
$blue-contents-ligth:#0754b8;
$grey-p: #ffffff79;
