@import '../../../../../assets/colors/colors.scss';
.content-skill{
  margin-bottom: 15%;
  .title{
    text-align: center;
    margin-bottom: 8%;
    h1{
    font-size: 30px;
    }
    p{
      color: $gray-p;
      font-size: 14px;
    }
  }
  .skill-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card-skill{
      margin: 40px 80px 0px 100px;
      text-align: center;
      cursor: pointer;

      .icons{
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        i{
          font-size: 50px;
          cursor: pointer;
        }

        label{
          font-size: 20px;
          cursor: pointer;
        }

        &:hover{
          color: $gray-p;
        }
      }
    }
  }
  @media(max-width: 600px){
    .title{
      h1{
        font-size: 25px;
      }
    }
    .skill-container{
      .card-skill{
        margin: 15px 20px 15px 20px;
        .icons{
          .i{
            font-size: 1px;
          }
          .label{
            font-size: 1px;
          }
        }
      }
    }
  }
}
