@import '../../../../../assets/colors/colors.scss';
@import "bootstrap-icons/font/bootstrap-icons.css";

.contacts-container {
  padding: 100px 0px;
  background-image: linear-gradient(0deg, $blue-contents, $color-background);
  h1{
    font-size: 30px;
    text-align: center;
    letter-spacing: 5px;
  }

  .icons-contacs {
    display: flex;
    flex-direction: column;
    align-items: center;

    .contacts {
      display: flex;
      flex-direction: column;
      align-items: center;
      .contacts-h {
        display: flex;
        margin-top: 20px;
        a {
          margin: 0 15px;
          color: #fff;
          cursor: pointer;
          &:hover{
            color: $gray-p;
            scale: 1.05;
          }
        }
        i{
          font-size: 30px;
        }
      }

      .contacts-v {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

        span {
          margin-bottom: 5px;
          font-size: 16px;
        }

        i {
          margin: 10px 0px 10px 0px;
          font-size: 30px;
        }
      }
    }
  }
}
