<div class="contacts-container">
  <h1>Contatos</h1>
  <div class="icons-contacs">
    <div class="contacts">
      <div class="contacts-h">
        <a
          href="https://www.linkedin.com/in/guilherme-pompeu-mascarenhas-03770523a/"
          target="_blank"
          ><i class="bi bi-linkedin"></i
        ></a>
        <a href="https://github.com/GMPompeu" target="_blank"
          ><i class="bi bi-github"></i
        ></a>
      </div>
      <div class="contacts-v">
        <i class="bi bi-whatsapp"></i>
        <span>(11) 97270-2749</span>
        <i class="bi bi-inbox"></i>
        <span>gui.pompeu.mascarenhas&commat;gmail.com</span>
      </div>
    </div>
  </div>
</div>
