<div class="container1">
  <div class="imgabout">
    <img src="assets/img/aboutme.png" />
  </div>
  <div class="aboutme">
    <h1>Sobre Mim</h1>
    <h2>
      Me chamo Guilherme, tenho 21 anos. Resido em São Paulo, Sp - Brasil.
    </h2>
    <p class="resume1">
      Iniciei minha jornada desenvolvendo um sistema para otimizar processos em
      meu trabalho atual. Desde então, tenho buscado oportunidades para
      ingressar na área de desenvolvimento, visando aprimorar meus conhecimento
      e contribuir de forma significativa para equipes de trabalho. Além disso,
      atuo como Designer Gráfico freelancer nas horas vagas.
    </p>
    <div class="resume2">
      <p>Área de interesse: Desenvolvedor Back-end / Full-stack</p>
      <p>Cursando Análise e Desenvolvimento de Sistemas - 4/4</p>
    </div>
    <div class="work-timeline">
      <button (click)="openDialog()">Resumo Profissional</button>
    </div>
    <div class="time-line"></div>
  </div>
</div>
