<div class="container1">
  <div class="imgabout">
    <img src="assets/img/aboutme.png" />
  </div>
  <div class="aboutme">
    <h1>Sobre Mim</h1>
    <h2>Me chamo Guilherme, tenho 21 anos. Resido em São Paulo, Sp - Brasil.</h2>
    <p class="resume1">
      Comecei meus estudos desenvolvendo um sistema para meu atual trabalho.
      Desde então busco oportunidades para me ingressar na área e aperfeiçoar
      meus conhecimentos, sendo capaz de agregar valor na equipe. Designer
      Gráfico nas horas vagas - Atuando como freelancer
    </p>
    <div class="resume2">
      <p>Área de interesse: Desenvolvedor Back-end / Full-stack</p>
      <p>Cursando Análise e Desenvolvimento de Sistemas - 4/4</p>
    </div>
    <div class="work-timeline">
        <button (click)="openDialog()">Resumo Profissional</button>
    </div>
    <div class="time-line"></div>
  </div>
</div>
