<header id="header">
  <nav>
    <div class="contact">
      <a class="contact" [class.active]= "currentPage === 'contact'" (click)="scrollElement('contact')">Contato</a>
    </div>
    <ul>
      <li class="zero" [class.active] = "currentPage === 'zero'" (click)="scrollElement('zero')">Home</li>
      <li class="aboutme" [class.active] = "currentPage === 'aboutme'" (click)="scrollElement('aboutme')">Sobre mim</li>
      <li class="projects" [class.active] = "currentPage === 'projects'" (click)="scrollElement('projects')">Projetos</li>
      <li class="skill" [class.active] = "currentPage === 'skill'" (click)="scrollElement('skill')">Habilidades</li>
    </ul>
  </nav>
</header>
